@import 'media.scss';

/**
 * Sets up grid to have exactly the specified amount of columns
 */
@mixin grid-container-columns($columns) {
  --gs-grid-columns: #{$columns};
}

/**
 * Sets up grid to have gap between items depending on screen size
 * (16px or 24px)
 */
@mixin grid-container-gap-auto() {
  @include media('to tablet.l') {
    --gs-grid-gap: 16px;
  }
  @include media('from desktop.s') {
    --gs-grid-gap: 24px;
  }
}

/**
 * Sets up grid to have the specified amount of gap between items
 */
@mixin grid-container-gap($size) {
  @include media('to tablet.l') {
    --gs-grid-gap: #{$size};
  }
  @include media('to desktop.s') {
    --gs-grid-gap: #{$size};
  }
}

@mixin grid-container-align($vertical, $horizontal) {
  justify-items: $vertical;
  align-items: $horizontal;
}

@mixin grid-container-width($w) {
  @if ($w == auto) {
    --gs-grid-container-width: auto;
  } @else {
    --gs-grid-container-width: #{$w};
  }
}

@mixin grid-container-max-width($w) {
  @if ($w == auto) {
    --gs-grid-container-max-width: auto;
  } @else {
    --gs-grid-container-max-width: #{$w};
  }
}

@mixin grid-container-width-fluid() {
  --gs-grid-container-width: auto;
}

@mixin grid-container-padding-auto() {
  --gs-grid-container-padding: var(--gs-grid-gap);
}

@mixin grid-container-padding($p) {
  --gs-grid-container-padding: #{$p};
}

@mixin grid-item-columns($n) {
  @if ($n > 0) {
    --gs-grid-item-columns: #{$n};
  } @else {
    --gs-grid-item-columns: calc(var(--gs-grid-columns) + #{$n});
  }

  grid-column-end: span var(--gs-grid-item-columns);
}

@mixin grid-item-rows($n) {
  --gs-grid-item-rows: #{$n};
  grid-row-end: span var(--gs-grid-item-rows);
}

@mixin grid-container-equal-rows() {
  --grid-container-auto-rows: 1fr;
}

@mixin grid-container() {

  display: grid;

  grid-auto-rows: var(--gs-grid-auto-rows);
  grid-auto-flow: dense;
  grid-gap: var(--gs-grid-gap);

  padding-left: var(--gs-grid-container-padding);
  padding-right: var(--gs-grid-container-padding);
  width: var(--gs-grid-container-width);
  max-width: var(--gs-grid-container-max-width);
  grid-template-columns: repeat(var(--gs-grid-columns), 1fr);

  @include grid-container-columns(12);
  @include grid-container-gap-auto();
  @include grid-container-width-fluid();
  @include grid-container-max-width(auto);
  @include grid-container-padding-auto();
  @include grid-container-align(stretch, stretch);
}