@function str-split($string, $separator) {
    $split-arr: ();
    $index : str-index($string, $separator);
    @while $index != null {
      $item: str-slice($string, 1, $index - 1);
      $split-arr: append($split-arr, $item);
      $string: str-slice($string, $index + 1);
      $index : str-index($string, $separator);
    }
    $split-arr: append($split-arr, $string);
    @return $split-arr;
  }
  
  @function px($num) {
    @if (not unitless($num) or $num == 0) {
      @return $num;
    }
    @return $num + 'px';
  }
  
  // This converts the $breakpoints list which is easy to write as an user
  // to a map which is easier to use in code :)
  // The map's keys are breakpoints name and it's value is a list of min, max (null if min=0 or max=infinity)
  @function parse-breakpoints($breakpoints) {
    $map: ();
    $i: 1;
    @while $i <= length($breakpoints) {
      $name: nth($breakpoints, $i);
      $min: if($i == 1, 0, nth($breakpoints, $i - 1));
      $max: if($i == length($breakpoints), null, nth($breakpoints, $i + 1));
      @if ($max != null) { $max: $max - 1; }
      $map: map-merge($map, ($name: ($min, $max)));
      $i: $i + 2;
    }
    @return $map;
  }
  
  // This converts the specified size string into a media query condition
  // Sizes is a map of breakpoints with the key being the name of a range,
  // and the value is a list of (min, max)
  //
  // This method features the following expressions
  // "gte xxx": will select media query bigger than
  @function screen-size-to-media-condition($size, $sizes, $dimension: 'width') {
  
    $size: unquote($size);
  
    // An inclusive range specified for example 'between mobile.s mobile.m
    $parts: str-split($size, ' ');
  
    @if (length($parts) > 1) {
  
      $cmd: nth($parts, 1);
      $arg1: null;
      $arg2: null;
      $arg3: null;
      @if (length($parts) >= 2) { $arg1: nth($parts, 2); }
      @if (length($parts) >= 3) { $arg2: nth($parts, 3); }
      @if (length($parts) >= 4) { $arg3: nth($parts, 4); }
  
      @if ($cmd == 'from') {
  
        @if (length($parts) == 2) {
  
          $range: map-get($sizes, $arg1);
          @if ($range == null) {
            @error 'Media query error. Not a vaild size: ' + $size;
            @return null;
          }
          $min: nth($range, 1);
          @if ($min == null) { @return null }
          @return '(min-' + $dimension + ': ' + px($min) + ')'
  
        } @else if (length($parts == 4) and $arg2 == 'to') {
  
          $range1: map-get($sizes, $arg1);
          $range2: map-get($sizes, $arg3);
  
          @if ($range1 == null) {
            @error 'Media query error. Not a vaild size: ' + $arg1;
            @return null;
          }
          @if ($range2 == null) {
            @error 'Media query error. Not a vaild size: ' + $arg3;
            @return null;
          }
  
          $min1: nth($range1, 1);
          $max2: nth($range2, 2);
  
          $q: '';
          @if ($min1) {
            $q: '(min-' + $dimension + ': ' + px($min1) + ')';
            @if ($max2) {
              $q: $q + ' and ';
            }
          }
          @if ($max2) {
            $q: $q + '(max-' + $dimension + ': ' + px($max2) + ')'
          }
          @return $q;
  
        } @else {
          @error 'Media query syntax error: Query should be "from xxx" or "from xxx to yyy"';
          @return null;
        }
  
      } @else if ($cmd == 'to') {
        // Lesser than or equal
  
        $range: map-get($sizes, $arg1);
        @if ($range == null) {
          @error 'Media query error. Not a vaild size: ' + $size;
          @return null;
        }
        $max: nth($range, 2);
        @if ($max == null) { @return null; }
        @return '(max-' + $dimension + ': ' + px($max) + ')';
      }
  
    } @else if (length($parts) == 1) {
  
      // Just a simple size expression
      $range: map-get($sizes, $size);
  
      @if ($range == null) {
        @error 'Media query syntax error. Not a valid command or size: ' + $size;
        @return null;
      }
  
      $min: nth($range, 1);
      $max: nth($range, 2);
      $q: '';
      @if ($min != null) { $q: $q + '(min-' + $dimension + ': ' + px($min) + ')'; }
      @if ($max != null) {
        @if ($min != null) { $q: $q + ' and '; }
        $q: $q + '(max-' + $dimension + ': ' + px($max) + ')';
      }
      @return $q;
  
    }
    @error 'Media query syntax error: ' + $size;
    @return null;
  }
  