@import 'config';
@import 'media_tools';

$parsedBreakPoints: parse-breakpoints($breakpoints);

@mixin media($args) {
  $query: "screen";
  @each $size in $args {
    $q2: screen-size-to-media-condition($size, $parsedBreakPoints);
    @if ($q2 == null) {
      @warn 'Invalid size specified: ' + $size;
    } @else {
      $query: $query + ' and ' + $q2;
    }
  }
  @media #{$query} { @content; }
}

// Appends a debug node to an element which displays the name of the current screen size
@mixin media-debug() {

  &:after {
    position: fixed;
    bottom: 0; left: 0;
    z-index: 999999999;
    background: #FFF;
    color: #000;
    font-size: 16px;
    padding: 0.5em 1em;
    border: 1px solid #000;
    display: block;
    text-transform: uppercase;
    font-weight: bold;

    content: 'no-media';

    @each $r, $tmp in $parsedBreakPoints {
      @include media($r) { content: $r; }
    }
  }
}
